Source: autobright
Maintainer: Fra Goi <fragoidev@gmail.com>
Section: misc
Priority: optional
Standards-Version: 4.5.0
Build-Depends: debhelper (>= 12), meson (>= 0.57) | meson-installer (>= 0.57),
  libglib2.0-dev (>= 2.64)

Package: autobright
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libglib2.0-bin (>= 2.64)
Description: Automatically adjust screen brightness using light sensor
 TODO: Need to add an extended description.
